@charset "utf-8";

a{
	color: #F2F2F2;
}

textarea{
	height: 4em;
	font-size: 80%;
	padding: 5px;
	width: 350px;
}

#content  a{
	color: #C92434;
}

ul.actions li{
	display: inline;
}

#menu{
	padding: 9px;
}

.editor-manager{
	background: magenta;
}

.editor-operator{
	background: orange;
}

.expanded-detail, .expanded-assigned-detail{
	padding: 10px 50px;
}

button{
	padding: 7px;
}

button.raise-flag{
	background: red;
	color: #fff;
}

button.clear-flag{
	background: green;
	color: #fff;
}

span.flagged, span.cleared{
	color: white;
	background: red;
	font-weight: bold;
}

span.cleared{
	background: green;
}

div.activity_logs li{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

div.activity_logs li li{
	border: 0;
	padding: 2px;
	margin: 2px 7px;
}

div.comment-flag div.textarea{
	display: inline;
}

div.comment-flag button{
	padding: 2px;
}

#assets ul{
	padding-left: 0;
	margin-left: 0;
}

#assets li{
	display: inline;
}

#assets img{
	height: 70px;
	padding-left: 0;
	margin-left: 0;
	border: 1px solid #ccc;
	padding: 2px;
}

.slack-time-red, .slack-time-green, .slack-time-yellow{
	border-radius: 3px;
	padding: 2px 4px;
	display: block;
	float: left;
}
.slack-time-red{
	background: red;
	color: #fff;
}
.slack-time-green{
	background: green;
	color: #fff;
}
.slack-time-yellow{
	background: gold;
	color: #000;
}

td.actions{
	text-align: left;
}