@charset "utf-8";

a{
	color: #F2F2F2;
}

#content  a{
	color: #C92434;
}

ul.actions li{
	display: inline;
}

#menu{
	padding: 9px;
}

.editor-manager{
	background: magenta;
}

.editor-operator{
	background: orange;
}

.expanded-detail{
	padding: 10px 50px;
}